USE [master]
GO
/****** Object:  Database [SkillTestMCF]    Script Date: 24/10/2022 16:56:20 ******/
CREATE DATABASE [SkillTestMCF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SkillTestMCF', FILENAME = N'D:\SQL\MSSQL13.SQL2016\MSSQL\DATA\SkillTestMCF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SkillTestMCF_log', FILENAME = N'D:\SQL\MSSQL13.SQL2016\MSSQL\DATA\SkillTestMCF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SkillTestMCF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SkillTestMCF]
GO
USE [SkillTestMCF]
GO
/****** Object:  Table [dbo].[ms_storage_location]    Script Date: 24/10/2022 16:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [dbo].[ms_storage_location](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[location_id]  AS ('L'+CONVERT([varchar](10),[ID])) PERSISTED NOT NULL,
	[location_name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tr_bpkb]    Script Date: 24/10/2022 16:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tr_bpkb](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[agreement_number] [varchar](100) NOT NULL,
	[bpkb_no] [varchar](100) NULL,
	[branch_id] [varchar](10) NULL,
	[bpkb_date] [datetime] NULL,
	[faktur_no] [varchar](100) NULL,
	[faktur_date] [datetime] NULL,
	[location_id] [varchar](10) NULL,
	[police_no] [varchar](20) NULL,
	[bpkb_date_in] [datetime] NULL,
 CONSTRAINT [PK__tr_bpkb__21912C800159EB00] PRIMARY KEY CLUSTERED 
(
	[agreement_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
